/*variaveis*/
:root {
    --preto: #000;
    --branco: #fff;
    --lilas-claro: #f8abee;
}
/*corpo da página*/
body {
    color: var(--branco);
    background: var(--preto);
}

header {
    border: solid 2px;
    border-color: var(--branco);
}