/**/
/*variaveis*/
:root {
    --preto: #000;
    --branco: #fff;
    --lilas-claro: #eb76db;
    --azul-médio: #2f4dd1;
}
/*corpo da página*/
body {
    color: var(--branco);/*cor da fonte*/
    background: var(--preto);/*cor de fundo*/
    margin: 0px; /* não terá margem padrão*/
}

header {
    border: solid 2px;
    border-color: var(--branco);/*cor da borda*/
    padding: 20px;/*espaçamento interno*/
    font-size: 32px;/*tamanho da fonte*/
    color: var(--azul-médio);
}

section {
    background: var(--lilas-claro);
}