/**/
/*variaveis*/
:root {
    --preto: #000;
    --branco: #fff;
    --lilas-claro: #f8abee;
}
/*corpo da página*/
body {
    color: var(--branco);/*cor da fonte*/
    background: var(--preto);/*cor de fundo*/
    margin: 0px; /* não terá margin padrão*/
}

header {
    border: solid 2px;
    border-color: var(--branco);/*cor da borda*/
    padding: 20px;/*espaçamento interno*/
}